@import"components/__normalize";
@import"components/__nav";
@import"components/__footer";
@import"components/__form";
@import"components/__buttons.scss";
@import"components/__card.scss";
@import"components/__list.scss";
@import"components/__table.scss";



body {
    background-color: #F4F6FB;
    box-sizing: border-box;
    margin: 0;
}