.card {
    background-color: #F4F6FB;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-top: 1em;
    padding-bottom: 2em;
    margin-top: 0;

    &__title{
        text-align: center;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 1.8em;
    }

    &__body {
        margin-left: 1.5em;
    }

    &__image {
        margin-left: -1em;
        border-radius: 10px;
    }

    &__body--switch {
        margin-left: 1.5em;
    }

    &__subtitle__usecases{
        text-align: center;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    &--usecases{
        margin-top: 42px;
        margin-bottom: 42px;
    }

    &__image__usecases {
        margin-left: -1em;
        border-radius: 10px;
    }


}

#mission {
    background-color: white;
}

@media screen and (min-width: 650px) {
    .card{


        &__header{
            display: grid;
            grid-template-columns: 50% 50%;
            margin-top: 2em;
        }

        &__image{
            margin-top: 3.5em;
        }

        &__header--switch {
            display: grid;
            grid-template-columns: 50% 50%;
        }

        &__body--switch {
            order: 1;
            margin-left: 1.5em;
        }

        &__figure--switch {
            order: 2;
            padding: 0;
            margin-left: 1.8em;
        }

        &--usecases{
            display: grid;
            grid-template-columns: 30% 30% 30%;

        }

        &__image__usecases{
            width: 250px;
            border-radius: 10px;
        }

        &__subtitle__usecases{
            margin-left: 0em;
        }
    }


}

@media screen and (min-width: 992px) {
    .card{

        &__header{
            display: grid;
            grid-template-columns: 40% 60%;
            margin-top: 2em;
        }

        &__image{
            margin-top: 3.5em;
        }

        &__body--switch {
            order: 1;
            margin-left: 1.5em;
        }

        &__header--switch {
            display: grid;
            grid-template-columns: 70% 30%;
        }

        &__figure--switch {
            order: 2;
            padding: 0;
            margin-left: 1.5em;
        }

        &--usecases{
            display: grid;
            grid-template-columns: 33% 33% 33%;

        }

        &__image__usecases{
            justify-content: center;
            width: 350px;
            margin-left: 2em;
            border-radius: 10px;
        }

        &__subtitle__usecases{
            margin-left: 0em;
        }
    }
}

