.main-nav {
  background-color: #2628BA;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
}
.main-nav__list {
  list-style-type: none;
  padding: 0;
  margin-top: 0;
  text-align: center;
  margin-bottom: 0;
}
.main-nav__item {
  padding: 0.5em;
}
.main-nav__link {
  color: white;
  text-decoration: none;
}

.footer {
  background-color: #2628BA;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: grid;
  grid-template-columns: 70% 1%;
}
.footer__list {
  list-style-type: none;
}
.footer__link {
  color: white;
  text-decoration: none;
}
.footer--copyright {
  text-align: center;
}

.form-group {
  background-color: #F4F6FB;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #262F4A;
}
.form-group__title {
  text-align: center;
  margin-top: 0;
  padding: 42px;
}
.form-group__header {
  display: grid;
  grid-template-rows: 20% 20%;
  margin: 2em;
  margin-top: 0;
}
.form-group__label {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
  margin-bottom: 1em;
}
.form-group__input {
  border-radius: 10px;
  border: 2px solid white;
  height: 35px;
  color: #262F4A;
}
.form-group__link {
  text-align: center;
  text-decoration: underline;
  margin-top: 3em;
  color: #262F4A;
  margin-bottom: 4em;
}
.form-group__header:nth-child(4) {
  margin-bottom: 0;
}

.button {
  background-color: #43CC7C;
  padding: 1em 10em;
  text-align: center;
  text-decoration: none;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  border-radius: 10px;
  margin-top: 0.5em;
  border: 2px solid #43CC7C;
}

.button:hover {
  box-shadow: 1px 3px #2628BA;
}

.card {
  background-color: #F4F6FB;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding-top: 1em;
  padding-bottom: 2em;
  margin-top: 0;
}
.card__title {
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.8em;
}
.card__body {
  margin-left: 1.5em;
}
.card__image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  width: 20em;
}
.card__body--switch {
  margin-left: 1.5em;
}
.card__subtitle__usecases {
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.card--usecases {
  margin-top: 42px;
  margin-bottom: 42px;
}
.card__image__usecases {
  width: 317px;
  height: 317px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}

#mission {
  background-color: white;
}

@media screen and (min-width: 650px) {
  .card__header {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 2em;
    margin-bottom: 2em;
  }
  .card__body {
    margin-top: 6em;
  }
  .card__image {
    margin-top: 3.5em;
  }
  .card__header--switch {
    display: grid;
    grid-template-columns: 50% 50%;
  }
  .card__body--switch {
    margin-top: 6em;
    order: 1;
    margin-left: 1.5em;
  }
  .card__figure--switch {
    order: 2;
    padding: 0;
    margin-left: 1.8em;
  }
  .card--usecases {
    display: grid;
    grid-template-columns: 33% 33% 33%;
  }
  .card__image__usecases {
    width: 200px;
    height: 200px;
    border-radius: 10px;
  }
  .card__subtitle__usecases {
    margin-left: 0em;
    margin-top: -2.5em;
    text-align: center;
  }
}
@media screen and (min-width: 992px) {
  .card__header {
    display: grid;
    grid-template-columns: 40% 60%;
    margin-top: 2em;
  }
  .card__image {
    margin-top: 3.5em;
  }
  .card__body {
    margin-right: 10em;
  }
  .card__body--switch {
    order: 1;
    margin-left: 5em;
  }
  .card__header--switch {
    display: grid;
    grid-template-columns: 60% 40%;
  }
  .card__figure--switch {
    order: 2;
    padding: 0;
    margin-left: 1.5em;
  }
  .card--usecases {
    display: grid;
    grid-template-columns: 33% 33% 33%;
  }
  .card__image__usecases {
    justify-content: center;
    width: 300px;
    height: 300px;
  }
  .card__subtitle__usecases {
    margin-left: 140px;
  }
}
body {
  background-color: white;
  box-sizing: border-box;
  margin: 0;
}

/*# sourceMappingURL=style.css.map */
